/*퍼블리싱 기술 블로그*/
header{position:fixed;top:0;left:0;right:0;height:100px;background-color:#0050ff;color:#fff;z-index:2}
header>.wrap{padding:0 20px}
header h1{font-size:16px;font-weight:500;line-height:100px}

nav .category{display:block;margin-left:10px;padding-top:10px;color:#0050ff;font-size:18px;font-weight:700}
nav>.wrap{padding:20px 0}
nav>ul>li a{display:block;padding:10px 0 10px 20px}
nav>ul>li .sub_wrap>ul{display:none}
nav>ul>li .sub_wrap .main_menu{position:relative}
nav>ul>li .sub_wrap.on .main_menu{color:#0050ff;font-weight:500}
nav>ul>li .sub_wrap .main_menu .i_arr{display:block;position:absolute;top:50%;right:20px;width:15px;height:6px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%)}
nav>ul>li .sub_wrap .main_menu .i_arr.on{background:url(../img/arr_up.png) center no-repeat;background-size:15px 6px}
nav>ul>li .sub_wrap .main_menu .i_arr.off{background:url(../img/arr_down.png) center no-repeat;background-size:15px 6px}
nav>ul>li>.main_menu.click,
nav>ul>li .sub_menu.click{color:#0050ff;font-weight:500;border-left:5px solid #0050ff;box-sizing:border-box}
nav>ul>li>.main_menu:hover,
nav>ul>li .sub_menu:hover{color:#0050ff;font-weight:500;border-left:5px solid #0050ff;box-sizing:border-box}

footer{position:relative;height:80px;background-color:#3e3e3e;color:#d3d3d3;line-height:78px;z-index:2}
footer>.wrap{padding:0 20px}
footer>.wrap:after{display:block;clear:both;content:""}
footer h6{float:left;font-size:12px;font-weight:300}
footer .right{float:right}
footer .site{margin-right:10px;font-size:12px;font-weight:300;text-decoration:underline}
footer .site:last-child{margin-right:0}

.container{padding-top:100px}
.cnt_area{width:1000px;margin:0 auto;padding:50px}
/*table*/
.table>div>table{width:100%;text-align:center;table-layout:fixed}
.table>div>table>thead>tr,
.table>div>table>tbody>tr{height:50px}
.table .head{border-bottom:1px solid #7c7c7c;box-sizing:border-box}
.table .head.empty{padding-right:17px}
.table .head>table>thead>tr>th{font-weight:500}
.table .body{overflow-y:auto;height:320px;background-color:#fff}
.table .body>table>tbody{font-weight:300}
.table .body>table>tbody>tr{border-bottom:1px solid #e5e5e5;box-sizing:border-box}
.table .body>table>tbody>tr>td>[class^='btn_']{min-width:unset;height:auto;padding:0}
.table .body>table>tbody>tr>td>[class^='btn_i_']{min-width:unset;width:24px;height:24px;padding:0}
.table>div>table>thead>tr>th.hide,
.table>div>table>tbody>tr>td.hide{display:none}
.table>div>table>thead>tr>th.list,
.table>div>table>tbody>tr>td.list{width:20%;background-color:#7c7c7c;color:#fff}
.table>div>table>thead>tr>th.list{border-bottom:1px solid #e5e5e5}

/*study*/
.tech .top_area{padding:100px 0;background-color:#0050ff}
.tech .top_area .main_cnt{width:1000px;margin:0 auto}
.tech .top_area .main_cnt:after{display:block;clear:both;content:""}
.tech .top_area .main_cnt .text{float:left;padding-top:80px;color:#fff;font-size:50px;font-weight:700;line-height:70px}
.tech .top_area .main_cnt .text>i{display:block}
.tech .top_area .main_cnt .text>.b{color:#ff8914}
.tech .top_area .main_cnt .image{float:right;opacity:0.8}
.tech .top_area .main_cnt .image>img{width:350px;height:300px}
.tech .cnt_area{padding:50px 0}
.tech .cnt_area:after{display:block;clear:both;content:""}
.tech .cnt_area .title_cnt{margin-left:285px;font-size:25px;font-weight:700}
.tech .cnt_area .cnt_wrap{margin-top:20px}
.tech .cnt_area .mid_cnt{float:left;width:calc(100% - 340px);margin-left:30px;padding:30px;background-color:#fff;border-radius:8px}
.tech .cnt_area .mid_cnt .list_bx{margin-top:20px}
.tech .cnt_area .mid_cnt .list_bx .list{margin-bottom:50px;padding-bottom:50px;border-bottom:1px solid #d5d5d5;box-sizing:border-box}
.tech .cnt_area .mid_cnt .list_bx .last{margin-bottom:0;padding-bottom:0;border:none}
.tech .cnt_area .mid_cnt .list_bx .list>dl:after{display:block;clear:both;content:""}
.tech .cnt_area .mid_cnt .list_bx .list>dl .title{position:relative;float:left;font-size:25px;font-weight:700}
.tech .cnt_area .mid_cnt .list_bx .list>dl .title:before{position:absolute;top:10px;right:-15px;width:1px;height:20px;background-color:#d5d5d5;content:""}
.tech .cnt_area .mid_cnt .list_bx .list>dl .info{float:left;margin-top:5px;margin-left:30px;font-size:17px}
.tech .cnt_area .mid_cnt .list_bx .list>dl .info:after{display:block;clear:both;content:""}
.tech .cnt_area .mid_cnt .list_bx .list>dl .info>span{float:left}
.tech .cnt_area .mid_cnt .list_bx .list>dl .info>span+span{margin-left:10px}
.tech .cnt_area .mid_cnt .list_bx .list .sub_title{display:block;margin-top:20px;font-size:19px}
.tech .cnt_area .nav_cnt{float:left;width:250px;background-color:#fff;border-right:1px solid #dedede;border-radius:8px;box-sizing:border-box}
.tech .cnt_area .nav_cnt .category{display:block;margin-left:10px;padding-top:10px;color:#0050ff;font-size:18px;font-weight:700}
.tech .cnt_area .nav_cnt>.wrap{padding:20px 0}
.tech .cnt_area .nav_cnt>ul>li a{display:block;width:100%;padding:10px 0 10px 20px;text-align:left}
.tech .cnt_area .nav_cnt>ul>li a:focus{outline:0}
.tech .cnt_area .nav_cnt>ul>li .sub_wrap>ul{display:none}
.tech .cnt_area .nav_cnt>ul>li .sub_wrap .main_menu{position:relative}
.tech .cnt_area .nav_cnt>ul>li .sub_wrap.on .main_menu{color:#0050ff;font-weight:500}
.tech .cnt_area .nav_cnt>ul>li .sub_wrap .main_menu .i_arr{display:block;position:absolute;top:50%;right:20px;width:15px;height:6px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%)}
.tech .cnt_area .nav_cnt>ul>li .sub_wrap .main_menu .i_arr.on{background:url(../img/arr_up.png) center no-repeat;background-size:15px 6px}
.tech .cnt_area .nav_cnt>ul>li .sub_wrap .main_menu .i_arr.off{background:url(../img/arr_down.png) center no-repeat;background-size:15px 6px}
.tech .cnt_area .nav_cnt>ul>li>.main_menu.click,
.tech .cnt_area .nav_cnt>ul>li .sub_menu.click{color:#0050ff;font-weight:500;border-left:5px solid #0050ff;box-sizing:border-box}
.tech .cnt_area .nav_cnt>ul>li>.main_menu:hover,
.tech .cnt_area .nav_cnt>ul>li .sub_menu:hover{color:#0050ff;font-weight:500;border-left:5px solid #0050ff;box-sizing:border-box}

.page_btn{position:relative;width:100%;margin-top:50px;color:#c8c6c6;font-size:14px;background-color:#fff;text-align:center}
.page_btn .p_wrap{display:inline-block}
.page_btn .p_wrap:after{display:block;clear:both;content:""}
.page_btn .p_wrap .btn{display:block;float:left;background-color:transparent}
.page_btn .p_wrap .btn.p_prev,
.page_btn .p_wrap .btn.p_next,
.page_btn .p_wrap .btn.p_prev.active,
.page_btn .p_wrap .btn.p_next.active{width:30px;height:30px;background-size:9px 18px;background-repeat:no-repeat;background-position:center}
.page_btn .p_wrap .btn.a_prev,
.page_btn .p_wrap .btn.a_next,
.page_btn .p_wrap .btn.a_prev.active,
.page_btn .p_wrap .btn.a_next.active{width:30px;height:30px;background-size:5px 11px;background-repeat:no-repeat;background-position:center}
.page_btn .p_wrap .btn.p_prev{background-image:url(../img/arr_prev_p.png)}
.page_btn .p_wrap .btn.p_prev:hover{background-image:url(../img/arr_prev_p_active.png)}
.page_btn .p_wrap .btn.p_next{background-image:url(../img/arr_next_p.png)}
.page_btn .p_wrap .btn.p_next:hover{background-image:url(../img/arr_next_p_active.png)}
.page_btn .p_wrap .btn.a_prev{background-image:url(../img/arr_prev_a.png)}
.page_btn .p_wrap .btn.a_prev.active{background-image:url(../img/arr_prev_a_active.png)}
.page_btn .p_wrap .btn.a_prev.unactive{cursor:default}
.page_btn .p_wrap .btn.a_next{background-image:url(../img/arr_next_a.png)}
.page_btn .p_wrap .btn.a_next.active{background-image:url(../img/arr_next_a_active.png)}
.page_btn .p_wrap .btn.a_next.unactive{cursor:default}
.page_btn .p_wrap .paging{float:left}
.page_btn .p_wrap .paging:after{display:block;clear:both;content:""}
.page_btn .p_wrap .paging .page{float:left;width:30px;height:30px;line-height:30px;cursor:pointer}
.page_btn .p_wrap .paging .page.click{background-color:#dff0ff;color:#404040;border-radius:50%}
.page_btn .p_wrap .paging .page+.page{margin-left:10px}

.page_btn .p_wrap .pagination:after{display:block;clear:both;content:""}
.page_btn .p_wrap .pagination>li{float:left;width:30px;height:30px;line-height:30px;cursor:pointer}
.page_btn .p_wrap .pagination>li.click{background-color:#dff0ff;color:#404040;border-radius:50%}
.page_btn .p_wrap .pagination .prev .btn{width:30px;height:30px;background:url(../img/arr_prev_p.png) center no-repeat;background-size:9px 18px}
.page_btn .p_wrap .pagination .prev .btn.active{background-image:url(../img/arr_prev_p_active.png)}
.page_btn .p_wrap .pagination .next .btn{width:30px;height:30px;background:url(../img/arr_next_p.png) center no-repeat;background-size:9px 18px}
.page_btn .p_wrap .pagination .next .btn.active{background-image:url(../img/arr_next_p_active.png)}

/*sub*/
.sub .cnt_area>.area_wrap{padding:20px;background-color:#fff}
.sub .cnt_area .top_cnt:after{display:block;clear:both;content:""}
.sub .cnt_area .top_cnt .btn_prev{float:left;width:25px;height:25px;margin-top:7px;background:url('../img/arr_prev_01.png') center no-repeat;background-size:12px 25px}
.sub .cnt_area .top_cnt>dl{float:left;margin-left:10px}
.sub .cnt_area .top_cnt>dl:after{display:block;clear:both;content:""}
.sub .cnt_area .top_cnt>dl .title{position:relative;float:left;font-size:25px;font-weight:700}
.sub .cnt_area .top_cnt>dl .title:before{position:absolute;top:10px;right:-15px;width:1px;height:20px;background-color:#d5d5d5;content:""}
.sub .cnt_area .top_cnt>dl .info{float:left;margin-top:5px;margin-left:30px;font-size:17px}
.sub .cnt_area .top_cnt>dl .info:after{display:block;clear:both;content:""}
.sub .cnt_area .top_cnt>dl .info>span{float:left}
.sub .cnt_area .top_cnt>dl .info>span+span{margin-left:10px}
.sub .cnt_area .mid_cnt{margin-top:20px;padding-top:20px;border-top:1px solid #d5d5d5}
.sub .mid_cnt .txt_bx>div>dl+dl{margin-top:30px}
.sub .mid_cnt .txt_bx>div>dl>dt{font-size:18px;font-weight:500}
.sub .mid_cnt .txt_bx>div>dl>dd{margin-top:5px}
.sub .mid_cnt .txt_bx>div>dl>dd>span:after{display:block;clear:both;content:""}
.sub .mid_cnt .txt_bx>div>dl>dd>span>span{display:block;margin-left:10px}
.sub .mid_cnt .txt_bx>div>dl>dd>span>i{float:left;padding:0 5px;background-color:#f5f5f5}
.sub .mid_cnt .txt_bx>div>dl>dd>span>i+i{margin-left:10px}
.sub .mid_cnt .txt_bx>div>dl>dd>span>b{font-weight:500}
.sub .mid_cnt .txt_bx>div>dl>dd>p{margin-top:5px}
.sub .mid_cnt .txt_bx>div>dl>dd>p>b{font-weight:500}
.sub .mid_cnt .txt_bx>div>dl>dd .info_bx{width:500px;margin:20px 0;padding:10px;border:3px solid #d5d5d5;border-radius:10px;box-sizing:border-box}
.sub .mid_cnt .txt_bx>div>dl>dd .info_bx>p>i{font-size:18px;text-decoration:underline}
.sub .mid_cnt .txt_bx>div>dl>dd .help_txt{color:#ff8914;font-size:13px}

.css_tech .exam{margin-top:15px;padding:10px;border:1px solid #dedede;box-sizing:border-box}
.css_tech .exam>dt{margin-bottom:10px;font-weight:500}
.css_tech .exam>dd{width:100%;margin-bottom:10px;font-size:0;text-align:center}
.css_tech .exam>dd:last-child{margin-bottom:0}
.css_tech .exam>dd>ul{display:inline-block}
.css_tech .exam>dd>ul:after{display:block;clear:both;content:""}
.css_tech .exam>dd>ul>li{float:left;display:table;width:200px;height:200px;background-color:#dedede;border-radius:50%;font-size:16px}
.css_tech .exam>dd>ul>li+li{margin-left:15px}
.css_tech .exam>dd>ul>li>span{display:table-cell;vertical-align:middle}
.css_tech .exam>dd>ul>li>span>i{display:block}
.css_tech .exam>dd>img{max-width:100%;max-height:100%}
.css_tech .exam>dd>img+img{margin-top:15px}

.javascript .cnt_area .mid_cnt .basic .table{border-top:1px solid #7c7c7c;border-bottom:1px solid #7c7c7c;box-sizing:border-box}
.javascript .cnt_area .mid_cnt .basic .table .body{overflow-y:initial;height:151px}
.javascript .cnt_area .mid_cnt .basic .table .head>table>thead>tr>th,
.javascript .cnt_area .mid_cnt .basic .table .body>table>tbody>tr>td{border-right:1px solid #7c7c7c;box-sizing:border-box}
.javascript .cnt_area .mid_cnt .basic .table .head>table>thead>tr>th,
.javascript .cnt_area .mid_cnt .basic .table .body>table>tbody>tr>td:last-child(){border-right:none}
.javascript .cnt_area .mid_cnt .basic .table .body>table>tbody>tr:last-child(){border-bottom:none}

.js_motion .cnt_area .mid_cnt .runtime .img_bx{width:600px}
.js_motion .cnt_area .mid_cnt .runtime .img_bx>img{max-width:100%;max-height:100%}
.js_motion .cnt_area .mid_cnt .motion .img_bx{width:600px}
.js_motion .cnt_area .mid_cnt .motion .img_bx>img{max-width:100%;max-height:100%}
.js_motion .cnt_area .mid_cnt .motion>dd>span{color:#d8d8d8;font-size:12px}